.barra {
    background-color: rgb(49, 49, 49);
    margin-right: 25px;
    padding: 5px;
}

.enlace {
    color: #38ada9;
    background-color: transparent;
    padding: 10px 25px;
    margin: 5px;
    border-radius: 3px;
    border: 1px solid #38ada9;
    cursor: pointer;
}


.activa {
    color: #fff;
    background-color: #38ada9;
    padding: 10px 25px;
    margin: 5px;
    border-radius: 3px;
}
