<div class="contenido">
    <div class="bod">

        <div class="primerCuadro">
            <div class="sel">
                <select class="btn" (change)="filtrarCategorias($event)">
                    <option selected disabled>Select category</option>
                    <option value="all">All</option>
                    <option *ngFor="let cat of lasCategorias">{{ cat }}</option>
                </select>
            </div>
        </div>


        <div class="unPost" *ngFor="let post of todosLosPosts; let indice=index">
            <div class="tit d-flex justify-content-between">
                <h5>{{ post.titulo }}</h5>
                <button class="btn btn-outline-light" (click)="post.esconder = !post.esconder">Display</button>
            </div>
            <div class="bodai" [hidden]="post.esconder">
                <img src="{{post.imagen}}">
                <p>{{ post.texto }}</p>
                <h6>Author: {{ post.autor}}</h6>
                <small> {{ post.fecha }} - Category: {{ post.categoria }}</small>
                <button class="btn btn-danger float-right" (click)="onBorrar(indice)">Delete</button>
            </div>
        </div>

    </div>
</div>


<!-- | date: 'dd/MM/yyyy' -->