.contenido{
   background-image: linear-gradient(to top left, #15645e, #b1bcbe, #abaeaf, #a6b5c2, #3b5b63, #53696d, #698080, #15645e);
   min-height: 100vh;
}

.bod {
    flex-wrap: wrap;
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
}

.primerCuadro {
    width: 12%;
    height: 70px;
    border: 3px solid rgb(204, 197, 197);
    position: relative;
    top: 40px;
    margin-bottom: 75px;
}

.primerCuadro:hover{
    transform: rotateZ(10deg);
    transition: 1s;
}


.sel {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
    margin-left: 10px;
    margin-top: 3px;
}  
  
.sel select {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    font-size: 13px;
    padding: 15px 2px;
    outline: 0;
    border: 2px solid #140509;
    border-radius: 3px;
    background: #5f5d5d;
    color: #f6f6f6;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    }

.sel select::-ms-expand {
    display: none;
}

        
.sel select:hover/* , .sel select:focus */ {
    /* color: black;
    background: rgb(238, 224, 224); */
    transform: rotateZ(-10deg);
    transition: 1s;
}


.sel_arrow {
    position: absolute;
    top: 20px;
    right: 15px;
    width: 0px;
    height: 0px;
    border: 1px solid #38ada9;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.sel select:hover ~ .select_arrow,
.sel select:focus ~ .select_arrow {
    border-color:  #38ada9;
}
.sel select:disabled ~ .sel_arrow {
    border-top-color: rgb(207, 204, 204);
}




.unPost{
    background-color: rgb(241, 237, 237);
    color: rgb(39, 38, 38);
    border: 0.5px solid rgb(231, 229, 229);
    border-radius: 1px;
    width: 95%;
    margin: 15px;
    box-shadow: 8px 8px 8px rgba(93, 93, 94, 0.3);
    opacity: 0.95;
}

.tit {
    width: 101.8%;
    background-color: rgb(51, 42, 42);
    color: white;
    padding: 7px;
    margin-left: -8px;
    margin-top: -1px;
    border: 1px solid rgb(23, 49, 48);
    box-shadow: 3px 3px rgb(51, 112, 107);
}

.tit h5 {
    margin-top: 7px;
    margin-left: 15px;
    font-size: 16px;
}

 .bodai {
    background-color: rgb(241, 237, 237);
    color: rgb(39, 38, 38);
    width: 100%;
    opacity: 0.95;
    padding: 25px;
}

.bod img {
    width: 250px;
    opacity: 1;
    padding: 10px;
    margin-left: 15px;
}

.unPost p {
    padding: 20px;
    font-size: 17px;
}

.unPost h6, small {
    margin-left: 20px;
}

