<div class="bod">

    <div class="primerCuadro">
        <div class="sel">
            <select class="btn" (change)="filtrarCategorias($event)">
                <option selected disabled>Select category</option>
                <option value="all">All</option>
                <option *ngFor="let cat of lasCategorias">{{ cat }}</option>
            </select>
        </div>
    </div>


    <div class="unPost" *ngFor="let post of todosLosPosts" (click)="post.esconder = !post.esconder">
        <div class="tit d-flex justify-content-between">
            <h5>{{ post.titulo }}</h5>
            <button class="btn btn-outline-light">Display</button>
        </div>
        <div class="bodai" [hidden]="post.esconder">
            <img src="{{post.imagen}}">
            <p>{{ post.texto }}</p>
            <h6>Author: {{ post.autor}}</h6>
            <small> {{ post.fecha }} - Category: {{ post.categoria }}</small>
        </div>
    </div>


</div>


<!-- | date: 'dd/MM/yyyy' -->