<div class="all">
    <form [formGroup]='formulario' (ngSubmit)="onSubmit()">

        <div class="form-row col-md-10">
            <div class="form-group col-md-8">
                <label>Title</label>
                <input type="text" class="form-control" formControlName="titulo">

            </div>

            <div class="form-group col-md-8">
                <label>Text</label>
                <textarea class="form-control" rows="5" formControlName="texto"></textarea>
            </div>


            <div class="form-group col-md-8">
                <label>Author</label>
                <input type="text" class="form-control" formControlName="autor">
            </div>

            <div class="form-group col-md-8">
                <label>Image</label>
                <input type="text" class="form-control" placeholder="Type URL" formControlName="imagen">
            </div>

            <div class="form-row col-12">
                <div class="form-group col-md-2">
                    <label>Date</label>
                    <input type="date" class="form-control" formControlName="fecha">
                </div>
                <div class="form-group col-md-6">
                    <label>Category</label>
                    <select class="form-control" formControlName="categoria">
                        <option value="all" selected disabled>Select category...</option>
                        <option value="Random">Random</option>
                        <option value="Music">Music</option>
                        <option value="Programming">Programming</option>
                        <option value="Sports">Sports</option>
                    </select>
                </div>


            </div>

            <button type="submit" class="btn btn-info" [disabled]="formulario.invalid">Submit</button>

        </div>

        <div class="alert alert-success alert-dismissible fade show aalert" role="alert" *ngIf="alerta">
            <strong>Well done!</strong>
            <p>Your post has been sent succesfully</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

    </form>



</div>