button{
    margin-left: 5px;
}

.all {
    background-image: linear-gradient(to top left, #15645e, #b1bcbe, #abaeaf, #a6b5c2, #3b5b63, #53696d, #698080, #15645e);
    flex-wrap: wrap;
    padding: 20px;
}

form {
    display: flex;
}

.aalert {
    width: 350px;
    height: 100px;
    margin-left: -250px;
    margin-top: 100px;
}

input, textarea, select {
    background-color: rgb(250, 248, 248);
}